		body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: grey;
        }
        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        h1 {
            color: white;
        }
        .item-list {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
        .item-card {
            background-color: white;
            border: 1px solid #00fefc;
            box-shadow: 0 0 3px #FF0000, 0 0px 5px #0000FF;
            padding: 20px;
            width: calc(33.33% - 20px);
            box-sizing: border-box;
            text-align: center;
        }
        .item-image {
			max-height: 100%;
			width: auto;
            height: 200px;
        }
		button a {
			text-decoration: none;
		}
		ul {
			list-style-type: none;
			text-shadow: 0 0 3px #FFFFFF, 0 0 5px #0000FF;
			font-weight: bold;
			margin: 0;
			padding: 0;
			border: 1px solid #00fefc;
			box-shadow: 0 0 3px #FF0000, 0 0px 5px #0000FF;
			width: 20%;
			background-color: #333;
			position: fixed;
			height: 100%;
			overflow: auto;
		}
		li {
			display: block;
			color: black;
			padding: 8px 16px;
			text-decoration: none;
			cursor:pointer;
		}
		li.active {
			background-color: #04aa6d;
			color: white;
		}
		li:hover:not(.active) {
			background-color: #555;
			color: white;
		}